{
  "extends": ["@jokeyrhyme/es5"],
  "env": {
    "amd": false,
    "browser": false,
    "mocha": true,
    "node": true
  },
  "root": true,
  "rules": {
    "dot-notation": [2, { "allowKeywords": false }]
  }
}
